@tailwind base;
@tailwind components;
@tailwind utilities;

#scrollButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: block;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease; /* Smooth transition for all properties */
    text-align: center;
    line-height: 50px;  /* Center the icon vertically */
    z-index: 1000;
}

#scrollButton i {
    font-size: 24px;
}

/* Hover effect */
#scrollButton:hover {
    background-color: #0056b3;  /* Darker background color */
    transform: scale(1.1);  /* Slightly increase the size */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);  /* Stronger shadow for depth */
}

#scrollButton:active {
    transform: scale(0.9);  
}
/* for dark mode button  */
body.dark {
    background-color: #121212;
    color: #e0e0e0;
  }
  
  body.dark header {
    background-color: #1e1e1e;
    color: #e0e0e0;
  }
  
  body.dark main {
    background-color: #1e1e1e;
    color: #e0e0e0;
  }
  
  body.dark footer {
    background-color: #1e1e1e;
    color: #e0e0e0;
  }
  
  body.dark button {
    background-color: #377f8e;
    color: white;
  }
  
  body.dark button:hover {
    background-color: #1f3c42;
  }

html {
  scroll-behavior: smooth;
}
/* Header Styling */
header {
  background: rgb(55 127 142 / var(--tw-bg-opacity, 1));
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 2rem;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Table Styling */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

table th, table td {
  padding: 10px 15px;
  text-align: center;
}

table th {
  background-color: rgb(55 127 142 / var(--tw-bg-opacity, 1));
  color: white;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tr:nth-child(odd) {
  background-color: #ffffff;
}

table tr:hover {
  background-color: #f1f1f1;
}

/* Form Styling */
form {
  background: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

form input, form button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  background-color: rgb(55 127 142 / var(--tw-bg-opacity, 1));
  color: white;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #4548a0;
}

/* Total Section */
.total {
  font-size: 1.2rem;
  margin-top: 10px;
  text-align: right;
  font-weight: bold;
}
